/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  background: url('https://lh3.googleusercontent.com/proxy/XK8s2nAzs9bXIDUibBtQw6DKHMoYZNH1ugePuQGUDnHpb2lqY1dlnxofAoAneYa_J62RA0yWFngwLQCjW_W4plcS6rI1ZxWwHKsw0CPuf24');
  background-size: cover;
  font-family: "Montserrat";

}

.container {
  border: 3px solid lightgray;
  border-radius: 10px;
  width: 350px;
  height: 600px;
  margin: 100px auto 0;
  padding: 50px 10px;
  text-align: center;
  background-color: white;

}

img {
  height: 150px;
  border-radius: 5px;
}

button {
  padding: 20px 60px;
  border-radius: 5px;
  border:none;
  background-color: chocolate;
  color: white;
  font-weight: bold;
}

/* Welcome Screen */

.welcome-screen {
  padding: 30px;
}

.welcome-screen h1 {
  margin-top: 60px;
}

.welcome-screen p {
  margin: 50px 0 50px;
  font-size: larger;
}

.welcome-screen button {
  margin-top: 50px;
  font-size: large;
}

/* Question Page */

form button {
  display: block;
  margin: 25px auto 0; 
}

.answer-question {
  height: 250px;
}

.question-form p {
  font-weight: bold;
}

form input {
  display: inline-block;
  margin-top: 20px;
}

label {
  margin: 10px 0 10px 0;
}

.wrong-page h2,
.right-page h2,
.finish-page h2 {
  font-size: 34px;
}

.wrong-page > div.paragraph,
.right-page > div.paragraph,
.finish-page > p {
  margin: 70px auto 50px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
    height: 650px;
  }

  img {
    height: 180px;
  }

  .welcome-screen p {
    margin: 50px 0 50px;
    font-size: 22px;
  }

  .welcome-screen button {
    font-size: larger;
  }

  .question-form p {
    font-size: 20px;
  }
  
  form input {
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
  }

  .wrong-page h2,
  .right-page h2,
  .finish-page h2 {
  font-size: 38px;
  }

  .wrong-page > div.paragraph,
  .right-page > div.paragraph,
  .finish-page > p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
    height: 700px;
  }

  img {
    height: 230px;
  }
}