/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  background: url('https://wallpaperaccess.com/full/90813.jpg');
  background-size: cover;
  font-family: "Montserrat";

}

.container {
  border: 3px solid lightgray;
  border-radius: 10px;
  width: 350px;
  height: 640px;
  margin: 60px auto 0;
  padding: 50px 10px;
  text-align: center;
  background-color: white;

}

img {
  height: 150px;
  border-radius: 5px;
}

button {
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
  background-color: chocolate;
  color: white;
  font-weight: bold;
}

/* Welcome Screen */

.welcome-screen {
  padding: 30px;
}

.welcome-screen h1 {
  margin-top: 20px;
}

.welcome-screen .play-now {
  margin-top: 10px;
  font-size: large;
}

.welcome-screen .world-emoji {
  font-size: 70px;
  margin: 60px 0;
}

/* Question Page */

form button {
  display: block;
  margin: 25px auto 0; 
}

form legend {
  display: none;
}

.answer-question {
  height: 250px;
}

.question-form p {
  font-weight: bold;
}

form input {
  display: inline-block;
  margin-top: 20px;
}

label {
  margin: 10px 0 10px 0;
}

.answer-question input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.answer-question label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  margin: 0 0 10px;
  border-radius: 4px;
}

.answer-question input[type="radio"]:checked + label {
  background-color:rgb(255, 169, 112);
  font-weight: bold;
  color: #17255A;
}

.radio-toolbar input[type="radio"]:focus + label{
  border: 3px solid #444;
}

.answer-question label:hover {
  background-color: rgb(255, 185, 139);
}

/* Right, Wrong, & Finish Page Stylings */

.wrong-page h2,
.right-page h2,
.finish-page h2 {
  font-size: 34px;
}

.wrong-page > div.paragraph,
.right-page > div.paragraph,
.finish-page > p {
  margin: 70px auto 50px;
}

/* Tablet Compatibility */

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
    height: 680px;
    margin-top: 100px;
  }

  img {
    height: 180px;
  }

  .welcome-screen p {
    margin: 50px 0 50px;
    font-size: 22px;
  }

  .welcome-screen button {
    font-size: larger;
  }

  .question-form p {
    font-size: 20px;
  }
  
  form input {
    display: inline-block;
    margin-top: 20px;
    font-size: 22px;
  }

  .wrong-page h2,
  .right-page h2,
  .finish-page h2 {
  font-size: 38px;
  }

  .wrong-page > div.paragraph,
  .right-page > div.paragraph,
  .finish-page > p {
    font-size: 20px;
  }
}

/* Desktop Compatibility */

@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
    height: 750px;
  }

  img {
    height: 230px;
  }

  .welcome-screen .world-emoji {
    margin: 80px 0 80px;
    font-size: 100px;
  }

  .welcome-screen .welcome-desc {
    margin: 50px 20px;
  }  

  .welcome-screen h1 {
    margin-top: 60px;
  }

  .finish-page .clap-emoji {
    display: inline-block;
    margin: 30px 0;
  }

}